In [12]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine 
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

# Establish a connection between Python and the Sakila database.

In [13]:

bd = "sakila"
connection_string = f'mysql+pymysql://root:{password}@localhost/{bd}'

In [14]:
engine = create_engine(connection_string)

# Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame.

In [20]:
def rentals_month(engine, month, year):
    """
    Retrieve rental data for a given month and year from the Sakila database.
    
    Parameters:
    engine (sqlalchemy.engine.base.Engine): Database connection engine.
    month (int): Month for which to retrieve rental data.
    year (int): Year for which to retrieve rental data.
    
    Returns:
    pd.DataFrame: DataFrame containing the rental data for the specified month and year.
    """
    query = f"""
    SELECT *
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    """
    
    with engine.connect() as connection:
        rentals_df = pd.read_sql(query, connection)
    
    return rentals_df

# Retrieve rental data for May and June
may_rentals = rentals_month(engine, 5, 2005)
june_rentals = rentals_month(engine, 6, 2005)

# Extract the list of active customers in May and June
may_customers = set(may_rentals['customer_id'])
june_customers = set(june_rentals['customer_id'])

# Identify customers active in both months
active_in_both = may_customers.intersection(june_customers)

# Initialize dictionaries to store the count of rentals per customer
may_rentals_count = may_rentals['customer_id'].value_counts().to_dict()
june_rentals_count = june_rentals['customer_id'].value_counts().to_dict()

# Compare the rental activity for customers active in both months
activity_difference = []

for customer in active_in_both:
    may_count = may_rentals_count.get(customer, 0)
    june_count = june_rentals_count.get(customer, 0)
    activity_difference.append((customer, may_count, june_count))

# Convert the result to a DataFrame for better visualization
activity_df = pd.DataFrame(activity_difference, columns=['customer_id', 'may_rentals', 'june_rentals'])
display(activity_df)

     customer_id  may_rentals  june_rentals
0              1            2             7
1              2            1             1
2              3            2             4
3              5            3             5
4              6            3             4
..           ...          ...           ...
507          594            4             6
508          595            1             2
509          596            6             2
510          597            2             3
511          599            1             4

[512 rows x 3 columns]

# Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

In [22]:
def rentals_month(engine, month, year):
    """
    Retrieve rental data for a given month and year from the Sakila database.
    
    Parameters:
    engine (sqlalchemy.engine.base.Engine): Database connection engine.
    month (int): Month for which to retrieve rental data.
    year (int): Year for which to retrieve rental data.
    
    Returns:
    pd.DataFrame: DataFrame containing the rental data for the specified month and year.
    """
    query = f"""
    SELECT *
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    """
    
    with engine.connect() as connection:
        rentals_df = pd.read_sql(query, connection)
    
    return rentals_df

def rental_count_month(df, month, year):
    """
    Generate a DataFrame containing the count of rentals made by each customer for a given month and year.
    
    Parameters:
    df (pd.DataFrame): DataFrame containing rental data.
    month (int): Month for which to count rentals.
    year (int): Year for which to count rentals.
    
    Returns:
    pd.DataFrame: DataFrame with customer_id and rental counts for the specified month and year.
    """
    # Group by customer_id and count rentals
    rental_counts = df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    
    return rental_counts

# Example usage
may_rentals = rentals_month(engine, 5, 2005)
may_rental_counts = rental_count_month(may_rentals, 5, 2005)

display(may_rental_counts)

     customer_id  rentals_05_2005
0              1                2
1              2                1
2              3                2
3              5                3
4              6                3
..           ...              ...
515          594                4
516          595                1
517          596                6
518          597                2
519          599                1

[520 rows x 2 columns]

In [24]:
def compare_rentals(df1, df2, month1, year1, month2, year2):
    """
    Compare the number of rentals made by each customer in two different months and years.
    
    Parameters:
    df1 (pd.DataFrame): DataFrame containing rental counts for the first month and year.
    df2 (pd.DataFrame): DataFrame containing rental counts for the second month and year.
    month1 (int): First month.
    year1 (int): First year.
    month2 (int): Second month.
    year2 (int): Second year.
    
    Returns:
    pd.DataFrame: Combined DataFrame with customer_id, rental counts for both months, and the difference.
    """
    # Merge the two DataFrames on 'customer_id'
    combined_df = pd.merge(df1, df2, on='customer_id', how='outer', suffixes=(f'_{month1:02d}_{year1}', f'_{month2:02d}_{year2}'))
    
    # Fill NaN values with 0 (customers who didn't rent in a given month)
    combined_df.fillna(0, inplace=True)
    
    # Calculate the difference between the two months
    combined_df['difference'] = combined_df[f'rentals_{month1:02d}_{year1}'] - combined_df[f'rentals_{month2:02d}_{year2}']
    
    return combined_df

# Example usage:
may_rental_counts = rental_count_month(may_rentals, 5, 2005)
june_rental_counts = rental_count_month(june_rentals, 6, 2005)

# Compare rentals between May and June
comparison_df = compare_rentals(may_rental_counts, june_rental_counts, 5, 2005, 6, 2005)

display(comparison_df)

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1              2.0              7.0        -5.0
1              2              1.0              1.0         0.0
2              3              2.0              4.0        -2.0
3              5              3.0              5.0        -2.0
4              6              3.0              4.0        -1.0
..           ...              ...              ...         ...
593          583              0.0              6.0        -6.0
594          585              0.0              4.0        -4.0
595          591              0.0              3.0        -3.0
596          592              0.0              5.0        -5.0
597          598              0.0              1.0        -1.0

[598 rows x 4 columns]